body {
	font-family: 'IBM Plex Mono', monospace;
	color: white;

}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 32pt;
	font-family: 'Abril Fatface', cursive;
	display: inline;

}

h1:hover {
	color:red;
}

h3 {
	font-family: 'Abril Fatface', cursive;
	display: inline;
}

h4 {
	font-size: 12px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
}

h4:hover {
	color:red;
}


#finalNavItem {
	border-bottom: none;
}

#fullpage {
	z-index: 2;
}

#eye {
	width: 40px;
	height: auto;
	
}

#header {
	z-index: 3;
	position: fixed;
	top: 50px;
	left:70px;
}

#mainTitle {

	border-bottom: 8px solid white;

}

#mainDescription {
	width: 250px;
	padding-top: 30px;
	font-size: 12px;
}

#tracker {
	position: fixed;
	bottom:20px;
	left: 70px;
	z-index: 4;
	font-size: 12px;

}

#tracker p {
	display: none;
	border: 1px dotted white;
	padding: 10px;
}


#introSection {
	background-image: url("bg.png");

}

#infrastructure {

	background-image: url("bg2.png");
}

#uncertainty {

	background-image: url("bg3.png");
}

#qs {
	background-image: url("bg3.png");

